<% if (typeof status !== 'undefined' && status) { %>
<div id="status-message" class="mt-4 mb-2 px-4 py-3 rounded-md flex items-center justify-between">
    <div class="flex items-center">
        <span id="status-icon" class="mr-2"></span>
        <span id="status-text" class="font-mono"></span>
    </div>
    <button onclick="dismissStatus()" class="focus:outline-none">
        <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
        </svg>
    </button>
</div>
<script>
    window.statusCode = '<%= status %>';
    window.statusReason = '<%= typeof reason !== 'undefined' ? reason : '' %>';
</script>
<% } %>
