<header>
    <div class="inline font-extrabold text-3xl font-mono">
        <a href="/">
        <span class="text-accent-light dark:text-accent-dark hover:opacity-80 transition-opacity cursor-pointer">
          flick
        </span>
        </a>
        <div class="float-right flex items-center">
            <label for="theme-toggle" class="inline-flex items-center cursor-pointer mr-4 hover:opacity-80 transition-opacity">
                <span class="mr-2 text-sm font-medium text-text-light dark:text-text-dark">Light</span>
                <div class="relative">
                    <input type="checkbox" id="theme-toggle" class="sr-only peer" onclick="toggleTheme()">
                    <div class="w-11 h-6 bg-accent-light peer-focus:ring-4 peer-focus:ring-accent-light dark:peer-focus:ring-accent-dark rounded-full peer dark:bg-surface-dark peer-checked:after:translate-x-full after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-accent-dark"></div>
                </div>
                <span class="ml-2 text-sm font-medium text-text-light dark:text-text-dark">Dark</span>
            </label>
        </div>
        <span class="text-accent-light dark:text-accent-dark text-sm italic mt-2 block">
        your flashcards are a click away!
      </span>
    </div>
    <hr class="border-accent-light dark:border-accent-dark mt-4">
</header>