<header>
    <div class="inline font-extrabold text-3xl font-mono">
        <a href="/">
            <span class="text-accent-light dark:text-accent-dark hover:opacity-80 transition-opacity cursor-pointer">
                Flick
            </span>
        </a>
        <div class="float-right flex items-center">
            <label for="theme-toggle"
                class="inline-flex items-center cursor-pointer mr-4 hover:opacity-80 transition-opacity">
                <img src="sun.svg" alt="Light Theme Icon" class="w-9 h-9">
                <div class="relative">
                    <input type="checkbox" id="theme-toggle" class="sr-only peer" onclick="toggleTheme()">
                    <div
                        class="w-11 h-6 bg-accent-light peer-focus:ring-4 peer-focus:ring-accent-light dark:peer-focus:ring-accent-dark rounded-full peer dark:bg-surface-dark peer-checked:after:translate-x-full after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-accent-dark">
                    </div>
                </div>
                <img src="moon.svg" alt="Dark Theme Icon" class="w-9 h-9 dark:invert">
            </label>
        </div>
        <span class="text-accent-light dark:text-accent-dark text-sm italic mt-2 block">
            Flashcards Just a Click Away!!
        </span>
    </div>
    <hr class="border-accent-light dark:border-accent-dark mt-4">
</header>