################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CS 476-Repo/copilot-chat/22c3c391/sessions
/.vs/CS 476-Repo/config
/.vs/CS 476-Repo
/.vs
