<!DOCTYPE html>
<!-- Ignore that styles.css cannot be located, this is fixed when the service is
running as the controller statically includes the styles.css and all other files in
the /public/ directory -->
<link rel="stylesheet" type="text/css" href="styles.css">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
</head>
<body>
<header>
    <div>
        <span class="font-bold text-4xl"> Flick </span> <br/>
        <span class="font-bold text-2xl"> Your Flashcards are Just a Click Away! </span>
        <hr>
    </div>
    <br/>
    <div class="inline-flex">
        <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded ml-1 mr-1"
                onclick="window.location.href='/api/v1/logout'">
            Logout
        </button>
        <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded"
                onclick="window.location.href='/account'">
            Account Info
        </button>
    </div>
</header>
<br/>
<div class="text-3xl">Admin Dashboard</div>
<p id="welcome_title">Welcome <%= uname %>  </p><br />
<form class=" inline-grid bg-gray-300 p-4 rounded-lg" method="post" action="/api/v1/addMod">
    <label class="underline font-bold">Add a new Moderator</label> <br/>
    <label for="modemail" id="mod-email-label">Email</label>
    <input type="text" id="mod-email" name="modemail" required
           class="border border-gray-500 p-1 rounded w-full mt-1"/><br/>
    <input type="submit" value="Submit"
           class="bg-gray-400 hover:bg-gray-500 text-gray-800 font-bold py-2 px-4 rounded mt-3 cursor-pointer"/>
</form>
<form class=" inline-grid bg-gray-300 p-4 rounded-lg" method="post" action="/api/v1/removeMod">
    <label class="underline font-bold">Remove Moderator</label> <br/>
    <label for="modemail" id="mod-email-label">Email</label>
    <input type="text" id="mod-email" name="modemail" required
           class="border border-gray-500 p-1 rounded w-full mt-1"/><br/>
    <input type="submit" value="Submit"
           class="bg-gray-400 hover:bg-gray-500 text-gray-800 font-bold py-2 px-4 rounded mt-3 cursor-pointer"/>
</form>



<div id="mod-list">
    <span class="font-bold underline"> Moderator List </span> <br/>
    (mod list goes here)
</div>