<!DOCTYPE html>
<!-- Ignore that styles.css cannot be located, this is fixed when the service is
running as the controller statically includes the styles.css and all other files in
the /public/ directory -->
<link rel="stylesheet" type="text/css" href="styles.css">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flick</title>
</head>
<body>
<a href="/api/v1/addMod"> Add New Moderator</a>
</body>
</html>