<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Under Construction</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-900 text-center flex items-center justify-center h-screen">
<div class="text-white text-center">
    <img src="https://upload.wikimedia.org/wikipedia/commons/a/af/Under_construction_icon-yellow.svg" alt="Under Construction" class="w-32 mx-auto animate-pulse">
    <h1 class="text-4xl font-bold mt-4">This Page is Under Construction</h1>
    <p class="mt-2 text-lg">Check back soon for updates!</p>
    <div class="mt-6">
        <marquee behavior="scroll" direction="left" class="text-yellow-400 text-lg">Awesome dashboard page incoming...</marquee>
    </div>

    <button onclick="window.location.href='/login'" type="button" class="text-black bg-white hover:bg-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center">
        TEST environment
        <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
    </button>
</div>
</body>
</html>
