<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flick | Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/js/color-scheme.js"></script>
    <script src="/js/categories.js"></script>
    <script>
        tailwind.config = window.tailwindConfig;
    </script>
</head>
<body class="p-4 bg-bg-light dark:bg-bg-dark min-h-screen">
<%- include('partials/visitor-header') %>

    <div id="error-message">
        <span class="text-accent-light dark:text-accent-dark text-sm italic">Error encountered during <%=action%></span>
        <span class="text-accent-light dark:text-accent-dark text-sm italic"> Error: <%=error%> </span>
    </div>

    <a href="/" class="text-accent-light dark:text-accent-dark hover:underline">Return to index</a>
    <button onclick="history.back()" class="ml-4 px-4 py-2 bg-accent-light dark:bg-accent-dark text-text-light dark:text-text-dark rounded-lg">Go Back</button>
</body>
</html>
