<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flick | Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="p-4 bg-amber-200">

    <header>

        <div class="text-black font-extrabold text-center text-3xl font-mono">Flick</div>
        <div class="text-black font-extrabold text-center text-xl font-mono italic">Your Flashcards are a Click Away!</div>
        <hr class="border-black">

        <br /><br />
        <div class="text-black font-extrabold text-center text-3xl font-sans">Login</div>
    </header>

    <div class="border-2 border-black bg-sky-100 rounded-xl w-80 p-4 text-center mx-auto mt-10">
        <!-- DO NOT CHANGE THE name ATTRIBUTE OF THE INPUT FIELDS PLEASE -->
        <form action="/api/v2/login" method="post">
            <% if (status==="wrong-password" ) { %>
                <p class="text-red-500 font-sans text-1xl font-bold">Incorrect password. Please try again.</p>
            <% } else if (status==="does-not-exist" ) { %>
                <p class="text-red-500 font-sans text-1xl font-bold">User does not exist. Please sign up.</p>
            <% } else if (status==="error" ) { %>
                <p class="text-red-500 font-sans text-1xl font-bold">Something went wrong. Please try again later.</p>
            <% } else if (status==="registration-success" ) { %>
                <p class="text-lime-500 font-sans text-1xl font-bold">Registration successful. Please login.</p>
            <% } %>

            <label for="identifier" id="identifier_label" class="text-black font-bold">Username or Email</label><br />
            <input type="text" id="identifier" name="identifier"
                   class="border-2 rounded-lg p-0.5 bg-sky-100 focus:border-black focus:outline focus:outline-black border-gray-600" required />
            <br /><br />

            <label for="password" class="text-black font-bold">Password</label><br />
            <input type="password" id="password" name="password"
                   class="border-2 rounded-lg p-0.5 bg-sky-100 focus:border-black focus:outline focus:outline-black border-gray-600" required />
            <br /><br />

            <input class="border-2 rounded-xl w-40 p-0.5 bg-green-300 text-black font-bold hover:bg-green-400  border-gray-600"
                   type="submit" value="Login">
            <br /><br /><br />

                <button class="border-2 rounded-xl w-60 p-0.5 bg-amber-200 text-black font-bold hover:bg-amber-300 border-gray-600"
                        onclick="window.location.href='/register'">New User? Click to Register</button>
        </form>

    </div>


</body>

</html>