<!DOCTYPE html>
<!-- Ignore that styles.css cannot be located, this is fixed when the service is
running as the controller statically includes the styles.css and all other files in
the /public/ directory -->
<link rel="stylesheet" type="text/css" href="styles.css">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flick</title>
</head>
<body>
    <h1 id="main_title">Flick</h1>
    <h2 id="unique_title" >Your Flashcards are a Click Away</h2><br /><br /><br />

    <div class="centered login_form">
        <!-- DO NOT CHANGE THE name ATTRIBUTE OF THE INPUT FIELDS PLEASE -->
        <form action="/api/v1/login" method="post">
            <label for="email" id="email_label">Email</label><br />
            <input type="email" id="email" name="email" required /><br /><br />

            <label for="password" id="password_label" >Password</label><br />
            <input type="password" id="password" required /><br /><br />

            <input type="submit" value="Login"><br /><br /><br />
        </form>

        <div class="centered" id="link-to-register">
            <a href="/register">New User? Click to Register</a>
        </div>

    </div>

</body>
</html>