<!DOCTYPE html>
<!-- Ignore that styles.css cannot be located, this is fixed when the service is
running as the controller statically includes the styles.css and all other files in
the /public/ directory -->
<link rel="stylesheet" type="text/css" href="styles.css">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flick Account</title>
</head>
<body>
    <h1 id="main_title">Flick</h1>
    <h2 id="unique_title" >Your Flashcards are a Click Away</h2><br />
    <a href="/api/v1/logout"> Logout </a>
    <p id="welcome_title">Welcome <%= uname %> <a href="/account"> <b>Account Info</b> </a> </p><br />

    <div>
        <b>Moderator Dashboard</b>
        <a href="/moderator/report">Activity Report</a>
        <a href="/moderator/review">Review Submissions</a>
        <a href="/moderator/useradmin">Manage Users</a>
    </div>

</body>
</html>