<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flick | New Card</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>


<body class="p-4 bg-amber-200">

<header>

    <div class="text-black font-extrabold text-center text-3xl font-mono">Flick</div>
    <div class="text-black font-extrabold text-center text-xl font-mono italic">Your Flashcards are a Click Away!</div>
    <hr class="border-black">

    <br /><br />
    <div class="text-black font-extrabold text-center text-3xl font-sans">New Card</div>
</header>

<div class="border-2 border-black bg-sky-100 rounded-xl w-80 p-4 text-center mx-auto mt-10">
    <!-- DO NOT CHANGE THE name ATTRIBUTE OF THE INPUT FIELDS PLEASE -->
    <form action="/api/v2/create-card" method="post">
        <label for="fText" id="fText_label" class="text-black font-bold">Front Text</label><br />
        <input type="text" id="fText" name="fText"
               class="border-2 rounded-lg p-0.5 border-gray-600 bg-sky-100 focus:border-black focus:outline focus:outline-black" required />
        <br /><br />

        <label for="bText" id="bText_label" class="text-black font-bold">Back Text</label><br />
        <input type="text" id="bText" name="bText"
               class="border-2 rounded-lg p-0.5 border-gray-600 bg-sky-100 focus:border-black focus:outline focus:outline-black" required />
        <br /><br />

        <label for="mURL" id="mURL_label" class="text-black font-bold">Media URL <br> (Optional)</label><br />
        <input type="url" id="mURL" name="mURL"
               class="border-2 rounded-lg p-0.5 border-gray-600 bg-sky-100 focus:border-black focus:outline focus:outline-black" />
        <br /><br />

        <input class="border-2 rounded-xl w-40 p-0.5 bg-green-300 text-black font-bold hover:bg-green-400"
               type="submit" value="Submit">
        <br /><br /><br />

        <button class="border-2 rounded-xl w-60 p-0.5 bg-amber-200 text-black font-bold hover:bg-amber-300"
                onclick="window.location.href='/view_set'">Go back to flashcard set</button>
    </form>

</div>


</body>

</html>