<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h1>Registration Page</h1>
<form action="/register" method="post">
  <div class="field">
    <label for="email">Email</label> <input type="email" name="email" id="email">
  </div>
  <div class="field">
    <label for="password">Password</label> <input type="password" name="password" id="password">
  </div>
  <div class="field">
    <label for="cpassword">Confirm Password</label> <input type="password" name="cpassword" id="cpassword">
  </div>
  <input type="submit" value="Register">
</form>
</body>
</html>