<!DOCTYPE html>
<!-- Ignore that styles.css cannot be located, this is fixed when the service is
running as the controller statically includes the styles.css and all other files in
the /public/ directory -->
<link rel="stylesheet" type="text/css" href="styles.css">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register for Flick</title>
</head>
<body>
    <h1 id="main_title" >Registration Page</h1><br /><br /><br />

    <div class="centered register_form">
        <!-- DO NOT CHANGE THE name ATTRIBUTE OF THE INPUT FIELDS PLEASE -->
        <form action="/api/v1/register" method="post">
            <label for="email" id="email_label">Email</label><br />
            <input type="email" id="email" name="email" required /><br /><br />

            <label for="password" id="password_label" >Password</label><br />
            <input type="password" id="password" name="password" required /><br /><br />

            <label for="cpassword" id="cpassword_label" >Confirm Password</label><br />
            <input type="password" id="cpassword" name="cpassword" required /><br /><br />

            <input type="submit" value="Register"><br /><br />
        </form>

        <div class="centered" id="link-to-login">
            <a href="/login">Existing User? Click to Login</a>
        </div>
    </div>




</body>
</html>