
/*Start of the CSS stylesheet*/

#main_title, #unique_title {
    text-align:center;
}

#unique_title{
    font-style:italic;
}

a:hover {
    text-decoration:none;
}

.centered{
    margin: auto;
    text-align: center;
}

.login_form, .register_form {
    width: 20%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
}

/*End of the CSS stylesheet*/