<!DOCTYPE html>
<!-- Ignore that styles.css cannot be located, this is fixed when the service is
running as the controller statically includes the styles.css and all other files in
the /public/ directory -->
<link rel="stylesheet" type="text/css" href="styles.css">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flick Account</title>
</head>
<body>
    <header>
        <div>
            <span class="font-bold text-4xl"> Flick </span> <br/>
            <span class="font-bold text-2xl"> Your Flashcards are Just a Click Away! </span>
            <hr>
        </div>
        <br/>
        <div class="inline-flex">
            <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded ml-1 mr-1"
                    onclick="window.location.href='/api/v1/logout'">
                Logout
            </button>
            <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded"
                    onclick="window.location.href='/account'">
                Account Info
            </button>
        </div>
    </header>
    <br/>
    <p id="welcome_title">Welcome <%= uname %>  </p><br />
    <%
    if (status === "success")
    {
    %>
        <p style="color: limegreen;">Card set added successfully.</p>
    <%
    }
    else if (status === "does-not-exist")
    {
    %>
        <p style="color: red;">Failed to add card set.</p>
    <%
    }
    %>

    <div>
        <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center"
                onclick="window.location.href='/newset'">
            <img style='padding-right:10px;' src="add.svg"  alt="SVG Image">
            <span>New Card Set</span>
        </button><br/>

        <span class="text-3xl font-bold underline">Flashcard Sets</span><br />
        <span>
            <span>
                <% if (sets.length === 0) {%>
                <span class='text-2xl, font-bold,'> You have no sets. Create one using the button above! </span>
                <% } else for (let i = 0; i < sets.length; i++) { %>
                    <div class=" inline-table w-fit bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
                        <span class="underline text-1xl"><%= sets[i].set_name %> <br/></span>
                            <button class=" bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
                                View
                            </button>
                            <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
                                Edit
                            </button>
                    </div>
                <% } %>
            </span>

        </span>

    </div>



</body>
</html>