<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flick | Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="p-4 bg-amber-200">

<header>
    <div class="text-black font-extrabold text-center text-3xl font-mono">Flick</div>
    <div class="text-black font-extrabold text-center text-xl font-mono italic">Your Flashcards are a Click Away!</div>
    <hr class="border-black">
</header>
<br />

<span> Set Name: <%=set.setName%> </span>
<span> <% if(cards.length === 0){%> <br/> This set has no cards <%} else{

    }%></span>

</body>

</html>